<form class="{{cssClass}} {{styles.common.sheet}}" autocomplete="off" data-uuid="{{this.actor.uuid}}">
  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs  {{lookup styles 'sheet-tabs'}}" data-group="primary">
    <a class="item {{lookup styles 'item'}}" data-tab="attributes">
      <i class="fa-solid fa-swords" data-tooltip="{{localize "OSE.category.combat"}}"></i>
      <span>{{localize "OSE.category.combat"}}</span>
    </a>
    <a class="item {{lookup styles 'item'}}" data-tab="abilities">
      <i class="fa-solid fa-bolt" data-tooltip="{{localize "OSE.category.abilities"}}"></i>
      <span>{{localize "OSE.category.abilities"}}</span>
    </a>
    <a class="item {{lookup styles 'item'}}" data-tab="inventory">
      <i class="fa-solid fa-sack" data-tooltip="{{localize "OSE.category.inventory"}}"></i>
      <span>{{localize "OSE.category.inventory"}}</span>
    </a>
    {{#if actor.system.spells.enabled}}
    <a class="item {{lookup styles 'item'}}" data-tab="spells">
      <i class="fa-solid fa-sparkles" data-tooltip="{{localize "OSE.category.magic"}}"></i>
      <span>{{localize "OSE.category.magic"}}</span>
    </a>
    {{/if}}
    <a class="item {{lookup styles 'item'}}" data-tab="notes">
      <i class="fa-solid fa-notes" data-tooltip="{{localize "OSE.category.notes"}}"></i>
      <span>{{localize "OSE.category.notes"}}</span>
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body {{lookup styles 'sheet-body'}}">
    {{! Combat Tab }}
    <div class="tab {{lookup styles 'tab'}}" data-group="primary" data-tab="attributes">
      {{> (path "/templates/actors/partials/sheet-v2/character-combat-tab.hbs") }}
    </div>
    {{! Abilities Tab }}
    <div class="tab {{lookup styles 'tab'}}" data-group="primary" data-tab="abilities">
      {{> (path "/templates/actors/partials/sheet-v2/character-abilities-tab.hbs") }}
    </div>
    {{! Inventory Tab }}
    <div class="tab {{lookup styles 'tab'}}" data-group="primary" data-tab="inventory">
      {{> (path "/templates/actors/partials/sheet-v2/character-inventory-tab.hbs") }}
    </div>
    {{! Magic Tab }}
    {{#if actor.system.spells.enabled}}
    <div class="tab {{lookup styles 'tab'}}" data-group="primary" data-tab="spells">
      {{> (path "/templates/actors/partials/sheet-v2/character-magic-tab.hbs") }}
    </div>
    {{/if}}
    {{! Notes Tab }}
    <div class="tab {{lookup styles 'tab'}}" data-group="primary" data-tab="notes">
      {{> (path "/templates/actors/partials/sheet-v2/character-notes-tab.hbs") }}
    </div>
  </section>
</form>
  