<header class="{{styles.characterInfo}}">
  <section class="{{styles.characterInfoArt}}">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" class="{{styles.characterInfoArt}}" />
    <div class="{{styles.characterInfoApps}}">
      {{#unless this.actor.system.isNew}}
      <button
        class="{{styles.characterInfoButton}}"
        type="button"
        data-action="modifiers"
        aria-label="{{localize 'OSE.Modifiers'}}"
        title="{{localize 'OSE.Modifiers'}}">
        <i class="fas fa-book"></i>
      </button>
      <button
        class="{{styles.characterInfoButton}}"
        type="button"
        data-action="gp-cost"
        aria-label="{{localize 'OSE.dialog.shoppingCart'}}"
        title="{{localize 'OSE.dialog.shoppingCart'}}">
        <i class="fas fa-coins"></i>
      </button>
      {{else}}
      <button
        class="{{styles.characterInfoButton}} {{styles.characterInfoButtonAttention}}"
        type="button"
        data-action="generate-scores"
        aria-label="{{localize 'OSE.dialog.generateScores'}}"
        title="{{localize 'OSE.dialog.generateScores'}}">
        <i class="fa fa-dice"></i>
      </button>
      {{/unless}}
      <button
        class="{{styles.characterInfoButton}}"
        type="button"
        data-action="tweaks"
        aria-label="{{localize 'OSE.dialog.tweaks'}}"
        title="{{localize 'OSE.dialog.tweaks'}}">
        <i class="fas fa-code"></i>
      </button>
    </div>
  </section>
  <section class="{{styles.characterInfoDetails}}">
    <uft-character-info-field name="name" value="{{actor.name}}" data-dtype="String">{{localize "OSE.details.name"}}</uft-character-info-field>
    <uft-character-info-field name="system.details.class" value="{{actor.system.details.class}}" data-dtype="String">{{localize "OSE.details.class"}}</uft-character-info-field>
    <uft-character-info-field name="system.details.level" value="{{actor.system.details.level}}" data-dtype="Number">{{localize "OSE.details.level"}}</uft-character-info-field>
    <uft-character-info-field name="system.details.title" value="{{actor.system.details.title}}" data-dtype="String">{{localize "OSE.details.title"}}</uft-character-info-field>
    <uft-character-info-field name="system.details.xp.value" value="{{actor.system.details.xp.value}}" data-dtype="Number">{{localize "OSE.details.experience.baseshort"}}</uft-character-info-field>
    <uft-character-info-field name="system.hp.hd" value="{{actor.system.hp.hd}}" data-dtype="String">{{localize "OSE.HitDiceShort"}}</uft-character-info-field>
    <uft-character-info-field name="system.details.alignment" value="{{actor.system.details.alignment}}" data-dtype="String">{{localize "OSE.details.alignmentshort"}}</uft-character-info-field>
    <uft-character-info-field name="system.details.xp.next" value="{{actor.system.details.xp.next}}" data-dtype="Number">{{localize "OSE.details.experience.nextshort"}}</uft-character-info-field>
  </section>
</header>

<main class="{{styles.combatStats}}">
  <section class="{{styles.combatStatsRegion}} ability-scores">
    <uft-ability-score-field
      name="system.scores.str.value"
      value="{{actor.system.scores.str.value}}"
      modifier-value="{{actor.system.scores.str.mod}}"
      data-dtype="Number"
    >
      {{localize "OSE.scores.str.long"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.scores.int.value"
      value="{{actor.system.scores.int.value}}"
      modifier-value="{{actor.system.scores.int.mod}}"
      data-dtype="Number"
    >
      {{localize "OSE.scores.int.long"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.scores.wis.value"
      value="{{actor.system.scores.wis.value}}"
      modifier-value="{{actor.system.scores.wis.mod}}"
      data-dtype="Number"
    >
      {{localize "OSE.scores.wis.long"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.scores.dex.value"
      value="{{actor.system.scores.dex.value}}"
      modifier-value="{{actor.system.scores.dex.mod}}"
      data-dtype="Number"
    >
      {{localize "OSE.scores.dex.long"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.scores.con.value"
      value="{{actor.system.scores.con.value}}"
      modifier-value="{{actor.system.scores.con.mod}}"
      data-dtype="Number"
    >
      {{localize "OSE.scores.con.long"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.scores.cha.value"
      value="{{actor.system.scores.cha.value}}"
      modifier-value="{{actor.system.scores.cha.mod}}"
      data-dtype="Number"
    >
      {{localize "OSE.scores.cha.long"}}
    </uft-ability-score-field>
  </section>
  
  <section class="combat__stat-region combat__stat-region--central">
    <div class="combat__vitals">
      <section class="{{styles.vitalSection}} vital-section--defenses">
        {{! HP/AC/THAC0 }}
        {{#if usesAscendingAC}}
        <uft-major-icon-field value="{{actor.system.thac0.bba}}" value-name="system.thac0.bba">
          {{localize "OSE.ABShort"}}
          <img src="{{asset "/mace.svg"}}" slot="background" />
        </uft-major-icon-field>
        {{else}}
        <uft-major-icon-field value="{{actor.system.thac0.value}}" value-name="system.thac0.value">
          {{localize "OSE.Thac0"}}
          <img src="{{asset "/mace.svg"}}" slot="background" />
        </uft-major-icon-field>
        {{/if}}
        <uft-major-icon-field
          value="{{actor.system.hp.value}}"
          value-name="system.hp.value"
          max="{{actor.system.hp.max}}"
          max-name="system.hp.max">
          {{localize "OSE.HealthShort"}}
          <img src="{{asset "/heart.svg"}}" slot="background" />
        </uft-major-icon-field>
        {{#if usesAscendingAC}}
        <uft-major-icon-field value="{{actor.system.aac.value}}" readonly>
          {{localize "OSE.ArmorClassShort"}}
          <img src="{{asset "/shield.svg"}}" slot="background" />
        </uft-major-icon-field>
        {{else}}
        <uft-major-icon-field value="{{actor.system.ac.value}}" readonly>
          {{localize "OSE.ArmorClassShort"}}
          <img src="{{asset "/shield.svg"}}" slot="background" />
        </uft-major-icon-field>
        {{/if}}
      </section>

      <section class="{{styles.combatModifiers}} combat-modifiers">
        <section class="{{styles.vitalSection}} {{styles.vitalSectionCombatMods}}">
          {{! Combat mods }}
          <h4>{{localize "OSE.combatmods.heading"}}</h4>
          <uft-character-ability-field data-attack-type="melee" value="{{actor.system.meleeMod}}" readonly>
            <img src="{{asset '/Melee.svg'}}" slot="icon" />
            {{localize "OSE.Melee"}}
          </uft-character-ability-field>
          <uft-character-ability-field data-attack-type="missile" value="{{actor.system.rangedMod}}" readonly>
            <img src="{{asset '/Missile.svg'}}" slot="icon" />
            {{localize "OSE.Missile"}}
          </uft-character-ability-field>
          <uft-character-ability-field value="{{actor.system.init}}" readonly>
            <img src="{{asset '/Initiative.svg'}}" slot="icon" />
            {{localize "OSE.Initiative"}}
          </uft-character-ability-field>
        </section>

        <section class="{{styles.vitalSection}} {{styles.vitalSectionMovement}}">
          {{! Move speed }}
          <h4>{{localize "OSE.movement.heading"}}</h4>
          <uft-character-ability-field value="{{actor.system.movement.encounter}}" readonly>
            <img src="{{asset '/Encounter.svg'}}" slot="icon" />
            {{localize "OSE.movement.encounter.oneWord"}}
          </uft-character-ability-field>
          <uft-character-ability-field value="{{actor.system.movement.base}}" readonly>
            <img src="{{asset '/Exploration.svg'}}" slot="icon" />
            {{localize "OSE.movement.exploration.oneWord"}}
          </uft-character-ability-field>
          <uft-character-ability-field value="{{actor.system.movement.overland}}" readonly>
            <img src="{{asset '/Overland.svg'}}" slot="icon" />
            {{localize "OSE.movement.overland.oneWord"}}
          </uft-character-ability-field>
        </section>
      </section>
    </div>
    
    <div class="{{styles.combatFavorites}}">
      <uft-labeled-section>
        <h4 slot="heading">{{localize "OSE.Favorite.items"}}</h4>
        {{#if favoriteItems.length}}
        <div slot="content" class="{{styles.favorites}} favorites__items">
        {{#each favoriteItems}}
          <uft-tippable-item uuid="{{uuid}}"></uft-tippable-item>
        {{/each}}
        </div>
        {{/if}}
      </uft-labeled-section>

      <uft-labeled-section>
        <h4 slot="heading">{{localize "OSE.Favorite.abilities"}}</h4>
        {{#if favoriteAbilities.length}}
        <div slot="content" class="{{styles.favorites}} favorites__abilities">
        {{#each favoriteAbilities}}
          <uft-tippable-item uuid="{{uuid}}"></uft-tippable-item>
        {{/each}}
        </div>
        {{/if}}
      </uft-labeled-section>
    </div>
  </section>
  
  <section class="{{styles.combatStatsRegion}} saves">
    <uft-ability-score-field
      name="system.saves.death.value"
      value="{{actor.system.saves.death.value}}"
      data-dtype="Number"
    >
      {{localize "OSE.saves.death.oneWord"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.saves.wand.value"
      value="{{actor.system.saves.wand.value}}"
      data-dtype="Number"
    >
      {{localize "OSE.saves.wand.long"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.saves.paralysis.value"
      value="{{actor.system.saves.paralysis.value}}"
      data-dtype="Number"
    >
      {{localize "OSE.saves.paralysis.oneWord"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.saves.breath.value"
      value="{{actor.system.saves.breath.value}}"
      data-dtype="Number"
    >
      {{localize "OSE.saves.breath.oneWord"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      name="system.saves.spell.value"
      value="{{actor.system.saves.spell.value}}"
      data-dtype="Number"
    >
      {{localize "OSE.saves.spell.oneWord"}}
    </uft-ability-score-field>
    <uft-ability-score-field
      value="{{actor.system.scores.wis.mod}}"
      data-dtype="Number"
      readonly
    >
      {{localize "OSE.saves.magic.short"}}
    </uft-ability-score-field>
  </section>
</main>