<div class="ability-fields ability-fields--spell-slots">
  {{#each actor.system.spells.slots as |slots id|}}
  <spell-slot-field
    level="{{id}}"
    remaining="{{slots.used}}"
    name="system.spells.{{id}}.max"
    value="{{slots.max}}"
    readonly></spell-slot-field>
  {{/each}}
</div>

{{#each actor.system.spells.spellList}}
<expandable-section type="spell" can-create aria-expanded data-lvl="{{@key}}">
  <h2 slot="heading">{{localize "OSE.spells.FormattedLevel" lvl=@key}}</h2>
  {{#each this}}
    <item-row class="item" slot="content" uuid="{{this.uuid}}" can-mystify can-show-chat>
      {{{this.system.enrichedDescription}}}
      {{#each this.system.autoTags}}
        <tag-chip slot="title-content"><i class="fa {{icon}}"></i>{{localize label}}</tag-chip>
      {{/each}}
    </item-row>
  {{/each}}
</expandable-section>
{{/each}}
