<labeled-section>
  <h2 slot="heading">{{localize "OSE.items.Weapons"}}</h2>
{{#each actor.system.weapons}}
  <inventory-row slot="content" id="{{this.uuid}}" can-equip can-favorite>
    {{this.system.enrichedDescription}}
  </inventory-row>
{{else}}
  <span class="inventory-row--empty">{{localize "OSE.table.treasure.noItems"}}</span>
{{/each}}
</labeled-section>

<labeled-section>
  <h2 slot="heading">{{localize "OSE.items.Armors"}}</h2>
{{#each actor.system.armor}}
  <inventory-row slot="content" id="{{this.uuid}}" can-equip>
    {{this.system.enrichedDescription}}
  </inventory-row>
{{else}}
  <span class="inventory-row--empty">{{localize "OSE.table.treasure.noItems"}}</span>
{{/each}}
</labeled-section>

<labeled-section>
  <h2 slot="heading">{{localize "OSE.items.Containers"}}</h2>
{{#each actor.system.containers}}
  <inventory-row slot="content" id="{{this.uuid}}"></inventory-row>
{{else}}
  <span class="inventory-row--empty">{{localize "OSE.table.treasure.noItems"}}</span>
{{/each}}
</labeled-section>

<labeled-section>
  <h2 slot="heading">{{localize "OSE.items.Misc"}}</h2>
{{#each actor.system.items}}
  <inventory-row slot="content" id="{{this.uuid}}">
    {{this.system.enrichedDescription}}
  </inventory-row>
{{else}}
  <span class="inventory-row--empty">{{localize "OSE.table.treasure.noItems"}}</span>
{{/each}}
</labeled-section>

<labeled-section>
  <h2 slot="heading">{{localize "OSE.items.Treasure"}}</h2>
{{#each actor.system.treasure}}
  <inventory-row slot="content" id="{{this.uuid}}">
    {{this.system.enrichedDescription}}
  </inventory-row>
{{/each}}
</labeled-section>