<div class="{{styles.abilityFields}} ability-fields--spell-slots {{styles.spellSlots}}">
  {{#each actor.system.spells.slots as |slots id|}}
  <uft-spell-slot-field
    level="{{id}}"
    remaining="{{slots.used}}"
    name="system.spells.{{id}}.max"
    value="{{slots.max}}"
    readonly></uft-spell-slot-field>
  {{/each}}
</div>

{{log actor.system.spells.spellList}}
<div class="">
{{#each actor.system.spells.spellList}}
<uft-expandable-section type="spell" can-create aria-expanded data-lvl="{{@key}}">
  <h2 slot="heading">{{localize "OSE.spells.FormattedLevel" lvl=@key}}</h2>
  {{#each this}}
    <uft-item-row class="item" slot="content" uuid="{{this.uuid}}" charges="{{this.system.cast}}" can-show-chat>
      {{{this.system.enrichedDescription}}}
      {{#each this.system.autoTags}}
        <uft-tag-chip slot="title-content"><i class="fa {{icon}}"></i>{{localize label}}</uft-tag-chip>
      {{/each}}
    </uft-item-row>
  {{/each}}
</uft-expandable-section>
{{/each}}
</div>